config.json
config.js
node_modules/
.env
config.superboss.js
config.develop.js
.vscode/settings.json
src/canvasTest/
src/localMemory/lastWikiEdit.bak
src/localMemory/invites.bak
src/localMemory/serversConfigs/*
