extends layout

block content
  noscript You need to enable JavaScript to run this app.

  //- script(src="/javascripts/index.js")

  //- div(id="login" class="d-none")
  //-   div(class="d-flex align-items-center justify-content-center" style="height: 100vh;")
  //-     div(class="col-xs-12")
  //-       div(class="row")
  //-         img(src="images/bloonLogo.png" style="width: 200px; height: auto;")
  //-       div(class="row mt-3")
  //-         button(id="loginButton" type="button" class="btn btn-primary col-xs-12") Login with Discord

  //- h1= title
  //- p Welcome to #{title}
  //- button(type=button)(class="btn btn-primary") now this is news

  