doctype html
html(lang="en")
  head
    title=title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    
    link(rel='stylesheet', href='/css/style.css', mimetype="text/css")
    link(rel='stylesheet', href='/css/bootstrap.min.css', mimetype="text/css")
    link(rel='stylesheet', href='/css/toastr.min.css', mimetype="text/css")
    link(rel='stylesheet', href='/css/dataTables.min.css', mimetype="text/css")

    script(rel='text/application', src="/jsLibraries/jquery-3.7.1.min.js")
    script(rel='text/application', src="/jsLibraries/jquery.blockui.js")
    script(rel='text/application', src="/jsLibraries/bootstrap.bundle.min.js")
    script(rel='text/application', src="/jsLibraries/toastr.min.js")
    script(rel='text/application', src="/jsLibraries/viselect.umd.js")
    script(rel='text/application', src="/jsLibraries/datatables.min.js")
    script(rel='text/application', src="/jsLibraries/datatables.responsive.js")
    script(rel='text/application', src="/jsLibraries/moment.js")
    script(rel='text/application', src="/jsLibraries/moment-timezone.js")

    //- custom languages scripts
    script(rel='text/application', src="/js/general.js", defer=true)
    script(rel='text/application', src="/js/utils.js")
    script(rel='text/application', src="/lang/lang.js", defer=true)
    script(rel='text/application', src="/js/translator.js", defer=true)

    script
  body.container-fluid.sb-backgroundColor.sb-backgroundPattern.p-0(data-bs-theme="dark")
    //- div#root
    block content
      