doctype html
html(lang="en")
  head
    title=title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css', mimetype="text/css")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', mimetype="text/css")
    script(rel='text/application', src="/js/jquery-3.7.1.min.js")
    script(rel='text/application', src="/js/bootstrap.bundle.min.js")
  body.container-fluid.sb-backgroundColor.sb-backgroundPattern
    //- div#root
    block content