extends layout

block content
  noscript You need to enable JavaScript to run this app.

  //- Language
  script(src="/lang/lang.js", defer=true)
  script(src="/js/translator.js", defer=true)

  //- Scripts
  script(src="/js/scheduleList.js", defer=true)

  //- Page
  div.container
    div.col-xs-12(style="height:100vh;")

      //- Title
      .row
            
        div.col-xs-12.col-sm-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3.p-0.mb-5
          div.sb-border
            div.col-xs-12.p-0
              div.sbg-identification.p-1 > YOUR TEAM'S SCHEDULES

              div
                each match in matches
                  a(href='schedule/' + match.Name.replace(' ', '_')+'-'+match.Id) #{match.Name}