:root {
  --table-bg-color-empty: #1a1a1a;
  --panel-bg-color-left: #11161c;
  --panel-bg-color-top: #11161c;
  --panel-bg-color: #20282f;
  
  --active-1: rgba(53, 59, 91, 0.51);
  --active-2: rgba(49, 66, 100, 0.6);
  --active-3: rgba(63, 80, 106, 0.7);
  --active-4: rgba(66, 87, 113, 0.8);
  --active-5: rgba(70, 122, 142, 0.6);
  --active-6: rgba(66, 119, 66, 0.7);
  --active-7: rgba(44, 123, 67, 0.8);
  --active-8: rgba(45, 136, 86, 0.9);
  --active-9: rgb(31, 153, 98);
  --active-10:  rgb(27, 168, 68);

  --mySelection: rgba(34, 76, 113, 0.7);
}

.tabSpacer{
  height: 20px;
  border-top:2px solid #4a4d51;
  border-left:2px solid #4a4d51;
  border-right:2px solid #4a4d51;
}

.pointer {
  cursor: pointer;
}

.calendarCell {
  height: 15px;
}

table {
  width: 100%;
  background-color: black;
  table-layout: fixed;
}




/* table tbody tr td {
    font-size: 10px;
} */

table * {
  font-weight: 100 !important;
}

.borderH {
  /* border-top: 1px solid #676E71; */
  border-bottom: 1px solid #676E71;
  /* border-left: 1px solid #676E71; */
  border-right: 1px solid #676E71;
}

.borderH:last-child{
  border-bottom: 1px solid #676E71;
  border-right: 0px solid #676E71;
}

.borderB{
  border-bottom: 1px solid #676E71;
}

.borderBR{
  border-bottom: 1px solid #676E71;
  border-right: 1px solid #676E71;
}


.borderBR:last-child{
  border-bottom: 1px solid #676E71 !important;
  border-right: 0px !important;
}

.borderL {
  border-top: 0px solid #5b676b;
  border-bottom: 1px solid #5b676b;
  border-left: 0px solid #5b676b;
  border-right: 0px solid #5b676b;
}

.timeText {
  color: #95a3a8;
}

.selectableDate {
  width: 100%;
  height: 15px;
  background-color: var(--table-bg-color-empty);
  transition: 0.25s;
}

.selectableDateDisabled {
  width: 100%;
  height: 15px;
  background: linear-gradient(135deg, #000000 0%, #000000 5%, transparent 5%, transparent 10%, #000000 10%, #000000 15%, transparent 15%, transparent 20%, #000000 20%, #000000 25%, transparent 25%, transparent 30%, #000000 30%, #000000 35%, transparent 35%, transparent 40%, #000000 40%, #000000 45%, transparent 45%, transparent 50%, #000000 50%, #000000 55%, transparent 55%, transparent 60%, #000000 60%, #000000 65%, transparent 65%, transparent 70%, #000000 70%, #000000 75%, transparent 70%, transparent 80%, #000000 80%, #000000 85%, transparent 85%, transparent 90%, #000000 90%, #000000 95%, transparent 95%);
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 0.25
}

.mySelection {
  background-color: var(--mySelection);
  width: 100%;
  transition: 0.25s;
}

.mySelectionTemp{
  border: 3px dotted #a2861c66;
}

.mySelectionSmall {
  background-color: var(--table-bg-color-empty);
  border-left: 5px solid var(--mySelection);
  width: 100%;
  transition: 0.25s;
}



.active1:not(.forceInactive) {
  background-color: var(--active-1);
}

.active2:not(.forceInactive) {
  background-color: var(--active-2)
}

.active3:not(.forceInactive) {
  background-color: var(--active-3)
}

.active4:not(.forceInactive) {
  background-color: var(--active-4)
}

.active5:not(.forceInactive) {
  background-color: var(--active-5)
}

.active6:not(.forceInactive) {
  background-color: var(--active-6)
}

.active7:not(.forceInactive) {
  background-color: var(--active-7)
}

.active8:not(.forceInactive) {
  background-color: var(--active-8)
}

.active9:not(.forceInactive) {
  background-color: var(--active-9)
}

.active10:not(.forceInactive) {
  background-color: var(--active-10)
}


.active1Small:not(.forceInactive) {
  border-left: 10px solid var(--active-1);
}

.active2Small:not(.forceInactive) {
  border-left: 20px solid var(--active-2);
}

.active3Small:not(.forceInactive) {
  border-left: 30px solid var(--active-3);
}

.active4Small:not(.forceInactive) {
  border-left: 40px solid var(--active-4);
}

.active5Small:not(.forceInactive) {
  border-left: 50px solid var(--active-5);
}

.active6Small:not(.forceInactive) {
  border-left: 60px solid var(--active-6);
}

.active7Small:not(.forceInactive) {
  border-left: 70px solid var(--active-7);
}

.active8Small:not(.forceInactive) {
  border-left: 80px solid var(--active-8);
}

.active9Small:not(.forceInactive) {
  border-left: 90px solid var(--active-9);
}

.active10Small:not(.forceInactive) {
  border-left: 100px solid var(--active-10);
}

.selectableDate:hover,
.active1:hover,
.active2:hover,
.active3:hover,
.active4:hover,
.active5:hover,
.active6:hover,
.active7:hover,
.active8:hover,
.active9:hover,
.active10:hover {
  filter: brightness(1.2);
}

/* Now with .mySelection */
.active1.mySelection {
  background-color: rgb(51, 59, 75);
}

.active2.mySelection {
  background-color: rgb(51, 70, 95);
}

.active3.mySelection {
  background-color: rgb(51, 80, 115);
}

.active4.mySelection {
  background-color: rgb(51, 91, 135);
}

.active5.mySelection {
  background-color: rgb(0, 63, 130);
}

.active6.mySelection {
  background-color: rgb(0, 76, 155);
}

.active7.mySelection {
  background-color: rgb(0, 89, 180);
}

.active8.mySelection {
  background-color: rgb(0, 102, 205);
}

.active9.mySelection {
  background-color: rgb(0, 115, 230);
}

.active10.mySelection {
  background-color: rgb(0, 128, 255);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* .forceInactive {
  background-color: var(--table-bg-color-empty) !important;
  border-left: 0px solid !important;
} */

.t-time {
  width: 50px;
}

.tooltipContainer {
  border: 3px solid #be973d;
  border-radius: 5px;
  background-color: black;
  position: absolute;
  display: none;
  z-index: 99;
  pointer-events: none;
}

.stickyC {
  z-index: 1;
  position: sticky;
  top: var(--sticky-top);
}

.bc-separate{
  border-collapse: separate;
  border-spacing: 0px;
}

.bc-collapse{
  border-collapse: collapse;
}


.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before, .bs-tooltip-top .tooltip-arrow::before{
  border-top-color: goldenrod !important;
}

.tooltip-inner{
  border: 2px solid goldenrod;
  text-align: center;
  padding: 12px;
}

