:root {
  --table-bg-color-empty: black;
  --panel-bg-color: #20282f;
}

.tabSpacer{
  height: 20px;
  border-top:2px solid #4a4d51;
  border-left:2px solid #4a4d51;
  border-right:2px solid #4a4d51;
}

.pointer {
  cursor: pointer;
}

.calendarCell {
  height: 15px;
}

table {
  width: 100%;
  background-color: black;
  table-layout: fixed;
}




/* table tbody tr td {
    font-size: 10px;
} */

table * {
  font-weight: 100 !important;
}

.borderH {
  /* border-top: 1px solid #676E71; */
  border-bottom: 1px solid #676E71;
  /* border-left: 1px solid #676E71; */
  border-right: 1px solid #676E71;
}

.borderH:last-child{
  border-bottom: 1px solid #676E71;
  border-right: 0px solid #676E71;
}

.borderB{
  border-bottom: 1px solid #676E71;
}

.borderBR{
  border-bottom: 1px solid #676E71;
  border-right: 1px solid #676E71;
}


.borderBR:last-child{
  border-bottom: 1px solid #676E71 !important;
  border-right: 0px !important;
}

.borderL {
  border-top: 0px solid #5b676b;
  border-bottom: 1px solid #5b676b;
  border-left: 0px solid #5b676b;
  border-right: 0px solid #5b676b;
}

.timeText {
  color: #95a3a8;
}

.selectableDate {
  width: 100%;
  height: 15px;
  background-color: var(--table-bg-color-empty);
  /* transition: 0.05s; */
}

.selectableDateDisabled {
  width: 100%;
  height: 15px;
  background: linear-gradient(135deg, #000000 0%, #000000 5%, transparent 5%, transparent 10%, #000000 10%, #000000 15%, transparent 15%, transparent 20%, #000000 20%, #000000 25%, transparent 25%, transparent 30%, #000000 30%, #000000 35%, transparent 35%, transparent 40%, #000000 40%, #000000 45%, transparent 45%, transparent 50%, #000000 50%, #000000 55%, transparent 55%, transparent 60%, #000000 60%, #000000 65%, transparent 65%, transparent 70%, #000000 70%, #000000 75%, transparent 70%, transparent 80%, #000000 80%, #000000 85%, transparent 85%, transparent 90%, #000000 90%, #000000 95%, transparent 95%);
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 0.25
}

.mySelection {
  background-color: rgb(34, 54, 113);
  width: 100%;
  transition: 0.25s;
}

.mySelectionSmall {
  background-color: black;
  border-left: 5px solid rgb(34, 54, 113);
  border-right: 5px solid rgb(34, 54, 113);
  width: 100%;
  transition: 0.25s;
  filter: brightness(150%);
}

.active1:not(.forceInactive) {
  background-color: rgba(100, 50, 0, 0.5);
}

.active2:not(.forceInactive) {
  background-color: rgba(90, 60, 10, 0.6);
}

.active3:not(.forceInactive) {
  background-color: rgba(80, 70, 20, 0.7);
}

.active4:not(.forceInactive) {
  background-color: rgba(70, 80, 30, 0.8);
}

.active5:not(.forceInactive) {
  background-color: rgba(60, 90, 40, 0.6);
}

.active6:not(.forceInactive) {
  background-color: rgba(50, 100, 50, 0.7);
}

.active7:not(.forceInactive) {
  background-color: rgba(40, 110, 60, 0.8);
}

.active8:not(.forceInactive) {
  background-color: rgba(30, 120, 70, 0.9);
}

.active9:not(.forceInactive) {
  background-color: rgba(20, 130, 80, 1);
}

.active10:not(.forceInactive) {
  background-color: rgb(0, 176, 52);
}


.active1Small:not(.forceInactive) {
  border-left: 5px solid rgba(100, 50, 0, 0.5);
}

.active2Small:not(.forceInactive) {
  border-left: 5px solid rgba(90, 60, 10, 0.6);
}

.active3Small:not(.forceInactive) {
  border-left: 5px solid rgba(80, 70, 20, 0.7);
}

.active4Small:not(.forceInactive) {
  border-left: 5px solid rgba(70, 80, 30, 0.8);
}

.active5Small:not(.forceInactive) {
  border-left: 5px solid rgba(60, 90, 40, 0.6);
}

.active6Small:not(.forceInactive) {
  border-left: 5px solid rgba(50, 100, 50, 0.7);
}

.active7Small:not(.forceInactive) {
  border-left: 5px solid rgba(40, 110, 60, 0.8);
}

.active8Small:not(.forceInactive) {
  border-left: 5px solid rgba(30, 120, 70, 0.9);
}

.active9Small:not(.forceInactive) {
  border-left: 5px solid rgba(20, 130, 80, 1);
}

.active10Small:not(.forceInactive) {
  border-left: 5px solid rgb(0, 176, 52);
}

.selectableDate:hover,
.active1:hover,
.active2:hover,
.active3:hover,
.active4:hover,
.active5:hover,
.active6:hover,
.active7:hover,
.active8:hover,
.active9:hover,
.active10:hover {
  filter: brightness(1.2);
}

/* Now with .mySelection */
.active1.mySelection {
  background-color: rgb(51, 59, 75);
}

.active2.mySelection {
  background-color: rgb(51, 70, 95);
}

.active3.mySelection {
  background-color: rgb(51, 80, 115);
}

.active4.mySelection {
  background-color: rgb(51, 91, 135);
}

.active5.mySelection {
  background-color: rgb(0, 63, 130);
}

.active6.mySelection {
  background-color: rgb(0, 76, 155);
}

.active7.mySelection {
  background-color: rgb(0, 89, 180);
}

.active8.mySelection {
  background-color: rgb(0, 102, 205);
}

.active9.mySelection {
  background-color: rgb(0, 115, 230);
}

.active10.mySelection {
  background-color: rgb(0, 128, 255);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* .forceInactive {
  background-color: var(--table-bg-color-empty) !important;
  border-left: 0px solid !important;
} */

.t-time {
  width: 50px;
}

.tooltipContainer {
  border: 3px solid #be973d;
  border-radius: 5px;
  background-color: black;
  position: absolute;
  display: none;
  z-index: 99;
  pointer-events: none;
}

.stickyC {
  z-index: 1;
  position: sticky;
  top: var(--sticky-top);
}

.bc-separate{
  border-collapse: separate
}

.bc-collapse{
  border-collapse: collapse;
}


.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before, .bs-tooltip-top .tooltip-arrow::before{
  border-top-color: goldenrod !important;
}

.tooltip-inner{
  border: 2px solid goldenrod;
  text-align: center;
  padding: 12px;
}

