:root {
  --table-bg-color-empty: #1a1a1a;
  --panel-bg-color-left: #11161c;
  --panel-bg-color-top: #11161c;
  --panel-bg-color: #20282f;
  
  --active-1: rgba(53, 59, 91, 0.51);
  --active-2: rgba(49, 66, 100, 0.6);
  --active-3: rgba(63, 80, 106, 0.7);
  --active-4: rgba(66, 87, 113, 0.8);
  --active-5: rgba(70, 122, 142, 0.6);
  --active-6: rgba(66, 119, 66, 0.7);
  --active-7: rgba(44, 123, 67, 0.8);
  --active-8: rgba(45, 136, 86, 0.9);
  --active-9: rgb(31, 153, 98);
  --active-10:  rgb(27, 168, 68);

  --mySelection: rgba(34, 76, 113, 0.7);
  --active-small-opacity: 35%;
  --active-small-opacity-notSelected: 100%;
}

.tabSpacer{
  height: 20px;
  border-top:2px solid #4a4d51;
  border-left:2px solid #4a4d51;
  border-right:2px solid #4a4d51;
}

.pointer {
  cursor: pointer;
}

.calendarCell {
  height: 15px;
}

table {
  width: 100%;
  background-color: black;
  table-layout: fixed;
}




/* table tbody tr td {
    font-size: 10px;
} */

table * {
  font-weight: 100 !important;
}

.borderH {
  /* border-top: 1px solid #676E71; */
  border-bottom: 1px solid #676E71;
  /* border-left: 1px solid #676E71; */
  border-right: 1px solid #676E71;
}

.borderH:last-child{
  border-bottom: 1px solid #676E71;
  border-right: 0px solid #676E71;
}

.borderB{
  border-bottom: 1px solid #676E71;
}

.borderBR{
  border-bottom: 1px solid #676E71;
  border-right: 1px solid #676E71;
}


.borderBR:last-child{
  border-bottom: 1px solid #676E71 !important;
  border-right: 0px !important;
}

.borderL {
  border-top: 0px solid #5b676b;
  border-bottom: 1px solid #5b676b;
  border-left: 0px solid #5b676b;
  border-right: 0px solid #5b676b;
}

.timeText {
  color: #95a3a8;
}

.selectableDate {
  width: 100%;
  height: 15px;
  background-color: var(--table-bg-color-empty);
  transition: 0.25s;
  position: relative;
}

.selectableDate::before{
  content: " ";
  position: absolute;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: none;
  transition: 0.25s;
}

.selectableDateDisabled {
  width: 100%;
  height: 15px;
  background: linear-gradient(135deg, #000000 0%, #000000 5%, transparent 5%, transparent 10%, #000000 10%, #000000 15%, transparent 15%, transparent 20%, #000000 20%, #000000 25%, transparent 25%, transparent 30%, #000000 30%, #000000 35%, transparent 35%, transparent 40%, #000000 40%, #000000 45%, transparent 45%, transparent 50%, #000000 50%, #000000 55%, transparent 55%, transparent 60%, #000000 60%, #000000 65%, transparent 65%, transparent 70%, #000000 70%, #000000 75%, transparent 70%, transparent 80%, #000000 80%, #000000 85%, transparent 85%, transparent 90%, #000000 90%, #000000 95%, transparent 95%);
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 0.25
}

/* For when you select with your mouse: */
.mySelectionTemp{
  border: 3px dotted #a2861c66;
}

.mySelection {
  background-color: var(--table-bg-color-empty);
  width: 100%;
  transition: 0.25s;
}

.mySelection::after {
  transition: 0.25s;
  background-color: #dbb0182e;
  line-height: 1.3em;
  text-align: center;
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 2px;
  left: 0px;
  top: 0; /* Middle */
  border-radius: 0%;

  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
  -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
}



.mySelectionSmall {
  background-color: var(--table-bg-color-empty);
  width: 100%;
  transition: 0.25s;
}

/* Creates pseudo element: rhomboid */
.mySelectionSmall::after {
  transition: all 0.25s ease, clip-path 0.25s cubic-bezier(1,.01,1,.67);
  background-color: #8a6f11;
  line-height: 1.3em;
  text-align: center;
  content: " ";
  height: 100%;
  width: 10%;
  position: absolute;
  padding: 0;
  left: 0;
  top: 0;
  border-radius: 25%;

  /* Chevron */
  clip-path: polygon(40% 20%, 55% 50%, 40% 80%, 5% 80%, 20% 50%, 5% 20%);
  -webkit-clip-path: polygon(40% 20%, 55% 50%, 40% 80%, 5% 80%, 20% 50%, 5% 20%);
  /* ME */
  /* clip-path: polygon(8% 75%, 20% 20%, 30% 20%, 35% 53%, 42% 20%, 51% 21%, 55% 42%, 55% 20%, 80% 20%, 80% 30%, 65% 30%, 65% 40%, 80% 40%, 80% 55%, 65% 55%, 65% 65%, 80% 65%, 80% 75%, 48% 75%, 44% 51%, 39% 75%, 28% 75%, 23% 51%, 18% 75%);
  -webkit-clip-path: polygon(8% 75%, 20% 20%, 30% 20%, 35% 53%, 42% 20%, 51% 21%, 55% 42%, 55% 20%, 80% 20%, 80% 30%, 65% 30%, 65% 40%, 80% 40%, 80% 55%, 65% 55%, 65% 65%, 80% 65%, 80% 75%, 48% 75%, 44% 51%, 39% 75%, 28% 75%, 23% 51%, 18% 75%); */
  /* Right arrow */
  /* clip-path: polygon(0% 20%, 14% 20%, 10% 0, 100% 50%, 10% 100%, 13% 80%, 0 80%);
  -webkit-clip-path: polygon(0% 20%, 14% 20%, 10% 0, 100% 50%, 10% 100%, 13% 80%, 0 80%); */
  /* Bloon */
  /* clip-path: polygon(50% 0%, 90% 10%, 85% 54%, 60% 74%, 65% 90%, 50% 100%, 35% 90%, 40% 75%, 15% 55%, 10% 10%);
  -webkit-clip-path: polygon(50% 0%, 90% 10%, 85% 54%, 60% 74%, 65% 90%, 50% 100%, 35% 90%, 40% 75%, 15% 55%, 10% 10%); */
  /* Match */
  /* clip-path: polygon(50% 0%, 61% 35%, 75% 0, 100% 50%, 75% 100%, 50% 41%, 25% 100%, 0 50%, 25% 0, 39% 35%);
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 75% 0, 100% 50%, 75% 100%, 50% 41%, 25% 100%, 0 50%, 25% 0, 39% 35%); */
  /* Thunder */
  /* clip-path: polygon(64% 0, 65% 0, 49% 44%, 93% 23%, 66% 60%, 32% 100%, 54% 58%, 10% 83%, 36% 42%, 48% 23%);
  -webkit-clip-path: polygon(64% 0, 65% 0, 49% 44%, 93% 23%, 66% 60%, 32% 100%, 54% 58%, 10% 83%, 36% 42%, 48% 23%); */
  /* N */
  /* clip-path: polygon(75% 49%, 75% 0, 100% 0, 100% 100%, 75% 100%, 25% 46%, 25% 100%, 0 100%, 0 0, 25% 0);
  -webkit-clip-path: polygon(75% 49%, 75% 0, 100% 0, 100% 100%, 75% 100%, 25% 46%, 25% 100%, 0 100%, 0 0, 25% 0); */
  /* Star */
  /* clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); */
}

.active1.toggleCalendarVisibility:not(.forceInactive) {
  background-color: var(--active-1);
}

.active1:not(.forceInactive)::before {
  width: 10%;
  background-color: var(--active-1);
}

.active2.toggleCalendarVisibility:not(.forceInactive) {
  background-color: var(--active-2)
}

.active2:not(.forceInactive)::before {
  width: 20%;
  background-color: var(--active-2);
}

.active3.toggleCalendarVisibility:not(.forceInactive) {
  background-color: var(--active-3)
}

.active3:not(.forceInactive)::before {
  width: 30%;
  background-color: var(--active-3);
}

.active4.toggleCalendarVisibility:not(.forceInactive) {
  background-color: var(--active-4)
}

.active4:not(.forceInactive)::before {
  width: 40%;
  background-color: var(--active-4);
}

.active5.toggleCalendarVisibility:not(.forceInactive) {
  background-color: var(--active-5)
}

.active5:not(.forceInactive)::before {
  width: 50%;
  background-color: var(--active-5);
}

.active6.toggleCalendarVisibility:not(.forceInactive) {
  background-color: var(--active-6)
}

.active6:not(.forceInactive)::before {
  width: 60%;
  background-color: var(--active-6);
}

.active7.toggleCalendarVisibility:not(.forceInactive) {
  background-color: var(--active-7)
}

.active7:not(.forceInactive)::before {
  width: 70%;
  background-color: var(--active-7);
}

.active8.toggleCalendarVisibility:not(.forceInactive) {
  background-color: var(--active-8)
}

.active8:not(.forceInactive)::before {
  width: 80%;
  background-color: var(--active-8);
}

.active9.toggleCalendarVisibility:not(.forceInactive) {
  background-color: var(--active-9)
}

.active9:not(.forceInactive)::before {
  width: 90%;
  background-color: var(--active-9);
}

.active10.toggleCalendarVisibility:not(.forceInactive) {
  background-color: var(--active-10)
}

.active10:not(.forceInactive)::before {
  width: 100%;
  background-color: var(--active-10);
}


.active1Small:not(.forceInactive)::before {
  width: 10%;
  background-color: var(--active-1);
}

.active1Small.mySelection:not(.forceInactive)::before {
  filter: grayscale(100%);
  width: 10%;
  background-color: var(--active-1);
}

.active2Small:not(.forceInactive)::before {
  width: 20%;
  background-color: var(--active-2);
}

.active2Small.mySelection:not(.forceInactive)::before {
  filter: grayscale(100%);
  width: 20%;
  background-color: var(--active-2);
}

.active3Small:not(.forceInactive)::before {
  width: 30%;
  background-color: var(--active-3);
}

.active3Small.mySelection:not(.forceInactive)::before {
  filter: grayscale(100%);
  width: 30%;
  background-color: var(--active-3);
}

.active4Small:not(.forceInactive)::before {
  width: 40%;
  background-color: var(--active-4);
}

.active4Small.mySelection:not(.forceInactive)::before {
  filter: grayscale(100%);
  width: 40%;
  background-color: var(--active-4);
}

.active5Small:not(.forceInactive)::before {
  width: 50%;
  background-color: var(--active-5);
}

.active5Small.mySelection:not(.forceInactive)::before {
  filter: grayscale(100%);
  width: 50%;
  background-color: var(--active-5);
}

.active6Small:not(.forceInactive)::before {
  width: 60%;
  background-color: var(--active-6);
}

.active6Small.mySelection:not(.forceInactive)::before {
  filter: grayscale(100%);
  width: 60%;
  background-color: var(--active-6);
}

.active7Small:not(.forceInactive)::before {
  width: 70%;
  background-color: var(--active-7);
}

.active7Small.mySelection:not(.forceInactive)::before {
  filter: grayscale(100%);
  width: 70%;
  background-color: var(--active-7);
}

.active8Small:not(.forceInactive)::before {
  width: 80%;
  background-color: var(--active-8);
}

.active8Small.mySelection:not(.forceInactive)::before {
  filter: grayscale(100%);
  width: 80%;
  background-color: var(--active-8);
}

.active9Small:not(.forceInactive)::before {
  width: 90%;
  background-color: var(--active-9);
}

.active9Small.mySelection:not(.forceInactive)::before {
  filter: grayscale(100%);
  width: 90%;
  background-color: var(--active-9);
}

.active10Small:not(.forceInactive)::before {
  width: 100%;
  background-color: var(--active-10);
}

.active10Small.mySelection:not(.forceInactive)::before {
  filter: grayscale(100%);
  width: 100%;
  background-color: var(--active-10);
}

.selectableDate:hover,
.active1:hover,
.active2:hover,
.active3:hover,
.active4:hover,
.active5:hover,
.active6:hover,
.active7:hover,
.active8:hover,
.active9:hover,
.active10:hover {
  filter: brightness(1.2);
}


.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* .forceInactive {
  background-color: var(--table-bg-color-empty) !important;
  border-left: 0px solid !important;
} */

.t-time {
  width: 50px;
}

.tooltipContainer {
  border: 3px solid #be973d;
  border-radius: 5px;
  background-color: black;
  position: absolute;
  display: none;
  z-index: 99;
  pointer-events: none;
}

.stickyC {
  z-index: 1;
  position: sticky;
  top: var(--sticky-top);
}

.bc-separate{
  border-collapse: separate;
  border-spacing: 0px;
}

.bc-collapse{
  border-collapse: collapse;
}


.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before, .bs-tooltip-top .tooltip-arrow::before{
  border-top-color: goldenrod !important;
}

.tooltip-inner{
  border: 2px solid goldenrod;
  text-align: center;
  padding: 12px;
}

