footer.align-items-center.text-center.pt-3.pb-3.footerText.footerBG
    p.m-0.p-0.smallest#Footer1 Footer1/CookieText
    p.m-0.p-0.smallest#Footer2 Footer2/MadeBy
    p.m-0.p-0.smallest#Footer3 Footer3/kofi link
    p.m-0.p-0.smallest#Footer4 Footer4/Special thanks