footer.align-items-center.text-center.pt-3.pb-3.footerText.footerBG
    p.m-0.p-0.small If you are banned from the superboss' Discord server feel free to contact me so I can add you to the schedules.
    p.m-0.p-0.small We use only the necessary cookies and we don't track our users.
    p.m-0.p-0.small You can support bloon's development using #[a(href="https://ko-fi.com/bloon") ko-fi.com]
    p.m-0.p-0.small When2Bloon was made by @Xixo in 2024.