footer.align-items-center.text-center.pt-3.pb-3.footerText.footerBG
    p.m-0.p-0.smallest#Footer1 We use only the necessary cookies and we don't track our users.
    p.m-0.p-0.smallest#Footer2 When2Bloon was made by @Xixo in 2024.
    p.m-0.p-0.smallest#Footer3 You can support bloon's development on #[a(href="https://ko-fi.com/bloon") ko-fi.com]
    p.m-0.p-0.smallest#Footer4 Special thanks to Cross, CoolTurtle, Mancuba, PBEgood & MattBatt56