module.exports = {
	"token": 					"your-token",
	"clientId": 				"your-client-id",
	"guildId": 					"your-guild-id",
	
	"intruderGeneralChannel":	"your-general-channel-id",
	"bloonCommandsChannel":		"your-bloon-commands-channel",

	"role_LookingToPlay": 		"your-role-lookingToPlay",
	"role_Agent": 				"your-role-agent",
	"wikiURL":					"your-wiki-url"
}